<div class="parent-container">

  <h1>Angular Lifecycle Demo</h1>

  <p>
    Mở <b>F12 → Console</b> để xem lifecycle chạy.
  </p>


  <div class="product-info">

    <h3>Parent Component</h3>

    <p>
      Current Product:
    </p>

    <div class="product-value">
      {{ productName }}
    </div>

  </div>


  <!-- BUTTON CHANGE INPUT -->

  <button
    class="change-button"
    (click)="changeProduct()"
  >
    Change Product
  </button>


  <!-- BUTTON DESTROY / CREATE CHILD -->

  <button
    class="toggle-button"
    (click)="toggleChild()"
  >
    @if (showChild) {
      Destroy Child
    } @else {
      Create Child
    }
  </button>


  <!-- CHILD COMPONENT -->

  @if (showChild) {

    <app-lifecycle-child
      [productName]="productName">
    </app-lifecycle-child>

  }

</div>